main {
  text-align: center;
}

.newsletterForm {
  width: 25%;
  height: 30rem;
  margin: auto;
  padding: 1rem;
  margin: 1rem auto;
  text-align: center;
}

.buttonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.buttonsContainer button {
  margin: 0 0.5rem;
}